#login-page {
  background-image: url(./img/film.jpg);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 50px;
}

.qr-code {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  color: 'crimson';
}
