#profile-page {
  background-image: url(./img/projector.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 50px;
  text-align: center;
}
