.bg-warning {
    color: black;
}

.progress {
    font-size: 2em;
}

.progress-all {
    height: 1.5em;
    cursor: pointer;
}

.progress-sections {
    height: 2em;
    cursor: pointer;
    border: 4px solid black;
}