.bg-warning {
    color: black;
}

.progress {
    font-size: 2em;
}

.progress-all {
    height: 1.6em;
    cursor: pointer;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.progress-all:hover {
    text-decoration: underline;
}

.progress-sections {
    height: 2em;
    cursor: pointer;
}

.progress-seen {
    border: 4px solid black;
}

.progress-seen:hover {
    text-decoration: underline;
}

.progress-tosee {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}
.progress-tosee:hover {
    text-decoration: underline;
}

.progress-skipped {
    border: 4px solid black;
}

.progress-skipped:hover {
    text-decoration: underline;
}
